
# /src/codegen/
/src/codegen/A.java
/src/codegen/B.java
/src/codegen/C.java
/src/codegen/D.java
/src/codegen/E.java

# /src/ocl_parser/
/src/ocl_parser/ocl.grm.sig
/src/ocl_parser/ocl.grm.sml
/src/ocl_parser/ocl.lex.sml
